# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL=
SESSION_ID=xliconv2~Ey8FTbqQ#3jUzXPTQdSSjI0Ggmk5WCtRq1uqPNGsKj_0gphympIc
REMOVEBG_KEY=
PREFIX=.
MODE=public
autoRead=false
statusview=true
